.DS_Store
.build/
.dart_tool/
.swiftpm/
artifacts/
binaries/
dist/
node_modules/
target/
packages/electron/bin/
packages/react-native/android/libs/*.aar
packages/react-native/android/libs/*.jar
packages/react-native/android/src/main/jniLibs/
packages/react-native/ios/Zot.xcframework
packages/flutter/.flutter-plugins-dependencies
packages/flutter/pubspec.lock
packages/flutter/android/libs/*.aar
packages/flutter/android/libs/*.jar
packages/flutter/android/src/main/jniLibs/
packages/flutter/ios/Zot.xcframework
packages/flutter/ios/zot_native/Zot.xcframework
apple/Zot.xcframework
